
<div class="body-content">
    {{!-- search filter --}}
     <div class="boardgames-categories">
        <h4 class="categories-title">Search Filter</h4>
        <hr>
       <div class="navbar-dropdown">
            <div class="nav-dropdown-list">
                <div class="navbar-dropdown-item active" data-index="0">
                    Theo Thể Loại
                </div>
                <div class="navbar-dropdown-item active" data-index="1">
                    Theo Tuổi
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdownitem active" data-index="0">
                    <ul class="dropdownitem-list--item has-list"></p>
                        {{#each LoaiBoardGames}}
                           <li class="has-list--item">
                             <a href="/search/{{this._id}}" class="has-link">{{this.TenLBG}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
               <div class="dropdownitem"  data-index="1">
                    <p class="dropdownitem-list--item">
                        The Loai 4
                    </p>
                    <p class="dropdownitem-list--item">
                        The Loai 5
                    </p>
                    <p class="dropdownitem-list--item">
                        The Loai 6
                    </p>
                </div>
            
            </div>
       </div>
    </div>
{{!-- list of boardgames --}}
   <div class="boardgames">
        <div class="grid">
            {{#if ThongtinBGs}}
                {{#each ThongtinBGs}}
                    <div class="grid__col-4">
                        <div class="boardgame">
                            <img src="{{this.HinhAnh}}" alt="" class="boardgame-img">
                            <div class="boardgame-info">
                                 <div class="boardgame-info__item">
                                    <a class="boardgame-link__name" href="/home/{{this.TenBoardGame}}">{{this.TenBoardGame}}</a>
                                </div>
                                <div class="boardgame-info__item">
                                    <a class="boardgame-link__price" href="/home/{{this.TenBoardGame}}">Giá: {{this.GiaThue}} VND</a>
                                </div>
                                {{#if SoLuong }}
                                    <p class="boardgame-info__status">Tình trạng: <span class="available">Còn hàng: {{this.SoLuong}}</span></p>
                                    <button class="boardgame-btn modal-buy" data-bgId="{{this._id}}" >
                                                                Giữ chỗ
                                    </button>
                                {{else}}
                                    <p class="boardgame-info__status">Tình trạng: <span class="sold-out">Hết hàng</span></p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <p class="no-results">Không tìm thấy kết quả phù hợp.</p>
            {{/if}}
        </div>
    </div>
</div>
    {{!-- modal input --}}
    <div class="modal-add">
        <div class="modal-container-add">
            <div class="header-modal-add">
                 Thông tin giữ hàng 
                <div class="icon-close-add closeModal"><i class="fa-regular fa-circle-xmark"></i></div>
            </div>
            <form action="/phone" method="POST">
                <div class="body-modal-add">
                    <p class="body-add-heading">
                        Phiếu giữ hàng
                    </p>
                    <p id="bgIdValue"></p>

                    <input type="text" class="phone" name="phone" placeholder="Nhập số điện thoại" value="">
                    <input type="hidden" name="bgId" id="bgIdInput" value="">
                </div>
                    <button class="footer-modal-add">
                        Giữ hàng
                    </button>
            </form>
        </div>

    </div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const $$ = document.querySelectorAll.bind(document)
      const $ = document.querySelector.bind(document)

    const category = $('.categories-title');
    const navbar = $('.navbar-dropdown');
    const drop = $('.dropdown')
    const navbarItems = $$('.navbar-dropdown-item');
    const subnavItems = $$('.dropdownitem');
    const subnavActive = $('.dropdownitem.active');
    const btnModals = $$('.modal-buy');
    const openModal = $('.modal-add');
    const closeModal = $('.closeModal');

    document.addEventListener('click', function(event) {
        if (!event.target.closest('.navbar-dropdown') && !event.target.closest('.boardgames-categories')) {
            navbar.style.display = "none";
        }
    });

    category.addEventListener('click', function() {
        if(navbar.style.display ="none") {
            navbar.style.display = "block";
            $(".dropdownitem.active").classList.remove("active");

        }
        else {
            navbar.style.display ="none"
        }
      }); 
       
        navbarItems.forEach((navbarItem, index) => {
            navbarItem.addEventListener('click', function() {
              // Loại bỏ class "active" cho tất cả các subnav items
                subnavItems.forEach(subnavItem => {
                subnavItem.classList.remove('active');
            });
                 // Thêm class "active" cho subnav item tương ứng
                subnavItems[index].classList.add('active');
         });
});

       //     {{!-- const bgIdInput = openModal.querySelector('.bgId') --}}
            btnModals.forEach((btnModal,index) => {
              btnModal.addEventListener('click', function() {
                // Khi click xảy ra, lấy giá trị bgID từ thuộc tính data-bgId của button 
                const bgId = btnModal.getAttribute('data-bgId');
                   // Cập nhật giá trị của thẻ <p> bgIdValue
                bgIdValue.textContent = `MaTTBG: ${bgId}`;
                 const bgIdInput = document.getElementById('bgIdInput');
                bgIdInput.value = bgId;
                openModal.classList.add('open');
                closeModal.addEventListener('click', function() {
                     openModal.classList.remove('open');
                })
            })
        });


})
</script>