<p class="body-title">TẤT CẢ SẢN PHẨM</p>

<div class="body-content">
     <div class="boardgames-categories">
        <h4 class="categories-title">Search Filter</h4>
        <hr>
       <div class="navbar-dropdown">
            <div class="nav-dropdown">
                <div class="navbar-dropdown-item active" data-index="0">
                    Theo The Loai
                </div>
                <div class="navbar-dropdown-item active" data-index="1">
                    Theo Tuoi
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdownitem active" data-index="0">
                     {{#each LoaiBoardGames}}
                    <p class="dropdownitem-list--item">
                        <a class="dropdownitem-list--item" href="/search/{{this._id}}">
                               {{this.TenLBG}}
                        </a>
                    </p>
                     {{/each}}
                  
                </div>
               <div class="dropdownitem"  data-index="1">
                    <p class="dropdownitem-list--item">
                        The Loai 4
                    </p>
                    <p class="dropdownitem-list--item">
                        The Loai 5
                    </p>
                    <p class="dropdownitem-list--item">
                        The Loai 6
                    </p>
                </div>
            
            </div>
       </div>
        {{!-- {{#each LoaiBoardGames}}
            <a class="categories-choice" href="/search/{{this._id}}">
                <label for="choice" class="categories-name">{{this.TenLBG}}</label>
            </a>
        {{/each}}  --}}
    </div>

   <div class="boardgames">
        <div class="grid">
            {{#if ThongtinBGs}}
                {{#each ThongtinBGs}}
                    <div class="grid__col-4">
                        <div class="boardgame">
                            <img src="{{this.HinhAnh}}" alt="" class="boardgame-img">
                            <div class="boardgame-info">
                                <a class="boardgame-info__name" href="/home/{{this.TenBoardGame}}">{{this.TenBoardGame}}</a>
                                <a class="boardgame-info__price" href="/home/{{this.TenBoardGame}}">Giá: {{this.GiaThue}} VND</a>
                                {{#if SoLuong }}
                                    <p class="boardgame-info__status">Tình trạng: <span class="available">Còn hàng</span></p>
                                    <button class="boardgame-btn js-buy">Giữ chỗ</button>
                                {{else}}
                                    <p class="boardgame-info__status">Tình trạng: <span class="sold-out">Hết hàng</span></p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <p class="no-results">Không tìm thấy kết quả phù hợp.</p>
            {{/if}}
        </div>
    </div>
  </div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const $$ = document.querySelectorAll.bind(document)
      const $ = document.querySelector.bind(document)

    const category = $('.categories-title');
    const navbar = $('.navbar-dropdown');
    const drop = $('.dropdown')
    const navbarItems = $$('.navbar-dropdown-item');
    const subnavItems = $$('.dropdownitem');
    const subnavActive = $('.dropdownitem.active');

    document.addEventListener('click', function(event) {
        if (!event.target.closest('.navbar-dropdown') && !event.target.closest('.boardgames-categories')) {
            navbar.style.display = "none";
        }
    });

    category.addEventListener('click', function() {
        if(navbar.style.display ="none") {
            navbar.style.display = "block";
            $(".dropdownitem.active").classList.remove("active");

        }
        else {
            navbar.style.display ="none"
        }
      }); 
       
        navbarItems.forEach((navbarItem, index) => {
            navbarItem.addEventListener('click', function() {
              // Loại bỏ class "active" cho tất cả các subnav items
                subnavItems.forEach(subnavItem => {
                subnavItem.classList.remove('active');
            });

                 // Thêm class "active" cho subnav item tương ứng
                subnavItems[index].classList.add('active');
         });
});
   
    })
</script>