<div class="container">
    <a href="/" class="home">
        <h4 class="text-home"> <i class="fa-solid fa-backward home-icon"></i> Back to home</h1>
    </a>
    <div class="boardgame-top">
        <img src="{{boardgames.HinhAnh}}" alt="" class="boardgame-img-detail">
       <div class="container-detail">
            <div class="boardgame-info-detail">
                <h5 class="boardgame-name">{{boardgames.TenBoardGame}}</h5>
                <p class="boardgame-info__list">Giá thuê: {{boardgames.GiaThue}} VND</p>
                <p class="boardgame-info__list">Thời Gian Chơi: {{boardgames.ThoiGianChoi}} phút</p>
                <p class="boardgame-info__list">Độ tuổi: {{boardgames.DoTuoi}} trở lên</p>
                <p class="boardgame-info__list rule">Luật Chơi: {{boardgames.LuatChoi}} </p>
                <p class="boardgame-info__list">Tình trạng: {{#if boardgames.SoLuong}} 
                                                                <span class="available">Còn hàng</span></p>
                                                        {{else}}
                                                                <span class="sold-out">Hết hàng</span></p>
                                                             {{/if}}
                <button class="boardgame-top__btn date modal-buy">Giữ chỗ</button>
            </div>
       </div>
    </div>

</div>
 {{!-- modal input --}}
    <div class="modal-add">
        <div class="modal-container-add">
            <div class="header-modal-add">
                 Thông tin giữ hàng 
                <div class="icon-close-add closeModal"><i class="fa-regular fa-circle-xmark"></i></div>
            </div>
                {{!-- <form action="/wishlist/find" method="post"> --}}
            <div class="body-modal-add">
                <p class="body-add-heading">
                       Vui lòng nhập số điện thoại của bạn
                </p>
                    <input type="text" class="phone-input" name="phone" placeholder="Nhập số điện thoại" value="">
            </div>
                    <button class="footer-modal-add">
                        Giữ hàng
                    </button>
        </div>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const $$ = document.querySelectorAll.bind(document)
    const $ = document.querySelector.bind(document);
        const openModal = $('.modal-add');
        const closeModal = $('.closeModal');
        const btnModal = $('.modal-buy');
          
        btnModal.addEventListener('click', function() {
            openModal.classList.add('open');
            closeModal.addEventListener('click', function() {
            openModal.classList.remove('open');
                })
            });
       
    })
</script>