<div class="container">
    <a href="/" class="home">
        <h4 class="text-home"> <i class="fa-solid fa-backward home-icon"></i> Back to home</h1>
    </a>
    <div class="boardgame-top">
        <img src="{{boardgames.HinhAnh}}" alt="" class="boardgame-img-detail">
       <div class="container-detail">
            <div class="boardgame-info-detail">
                <h5 class="boardgame-name">{{boardgames.TenBoardGame}}</h5>
                <p class="boardgame-info__list">Giá thuê: {{boardgames.GiaThue}} VND</p>
                <p class="boardgame-info__list">Thời Gian Chơi: {{boardgames.ThoiGianChoi}} phút</p>
                <p class="boardgame-info__list">Độ tuổi: {{boardgames.DoTuoi}} trở lên</p>
                <p class="boardgame-info__list rule">Luật Chơi: {{boardgames.LuatChoi}} </p>
                <p class="boardgame-info__list">Tình trạng: {{#if boardgames.SoLuong}} 
                                                                <span class="available">Còn hàng</span></p>
                                                {{!-- <button class="boardgame-top__btn date modal-buy" data-bgId="{{boardgames._id}}">
                                                    Giữ chỗ
                                                </button> --}}
                                                        {{else}}
                <span class="sold-out">Hết hàng</span></p>
                                                        {{/if}}
                
            </div>
       </div>
    </div>

</div>
